body{
    background-image: url(images/background.gif);
    background-size: 25%;
    background-repeat: space;
    transform: rotate(-3deg);
}
#canvas { /* селектор индентификатора */
    height: 30vh;
    padding: 1%;
}
.header-text{ /* селектор класса */
    text-align: center;
    font-family: "fantasy";
    font-size: 20px;
    color: deeppink;
}
table.table{
    text-align: right; /* Наследование: во всех дочерних элементах table.table
                                        будет text-align: right; если не указано обратное */
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid pink;
}
.canvas_cell{
    border: 1px solid pink;
    text-align: center;
}
td.table{
    padding-left: 3%;
    padding-right: 5%;
    width: 10%;
}
input, select {
    margin: 5px;
    font-weight: normal; /* Каскадирование: font-weight: normal здесь */
}
input.submit {
    background: rgb(111, 115, 186);
    border-radius: 3px;
    color: white;
    font-weight: bold; /* перебивается font-weight: normal здесь, потому что более специфичный селектор => больше приоритет */
    padding: 6px 20px;
    text-align: center;
}
*:focus {outline: none;}

label {
    text-align: left;
}
input.submit:disabled{ /* Селектор псевдокласса */
    background-color: rgb(154, 155, 184);
}
input.submit:hover {
    opacity:.85;
    cursor: pointer;
}

table.result-table {width: 100%; border-collapse: collapse; text-align: left;}
table.result-table td {padding: 12px 16px;}  /* селектор потомков */
table.result-table thead tr {font-weight: bold; border-top: 1px solid pink;}
table.result-table tr {border-bottom: 1px solid pink;}
table.result-table tbody tr:hover {background: #ffd4cf;opacity: .5}