#canvas {
    width: 30vw;
    height: 30vh;
    padding: 1%;
}
.header-text{
    font-family: "fantasy";
    font-size: 20px;


}
table.table{
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid grey;
}
.cnvs{;
    border: 1px solid grey;
    height: 90%;
    text-align: center;
}
td.table{
    padding-left: 3%;
    padding-right: 5%;
    width: 10%;
    text-align: right;
    border: 1px solid grey;
}
input, select {
    margin-top: 1%;
    margin-left: 10%;
}
*:focus {outline: none;}

label {
    margin-right: 10%;
    text-align: left;
}
input.submit {
    margin-left: 30%;
    background: rgb(111, 115, 186);
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
}
input.submit:disabled{
    background-color: rgb(154, 155, 184);
}
input.submit:hover {
    opacity:.85;
    cursor: pointer;
}

table.result-table {width: 100%; border-collapse: collapse;}
table.result-table td {padding: 12px 16px;}
table.result-table thead tr {font-weight: bold; border-top: 1px solid #e8e9eb;}
table.result-table tr {border-bottom: 1px solid #e8e9eb;}
table.result-table tbody tr:hover {background: #e8f6ff;}